.heroHeader {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heroHeader .h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(5rem, 9.9vw, 15rem);
  color: #e6e6e6;
}

.heroHeader .h2 {
  letter-spacing: clamp(0.6rem, 0.75vw, 1.3rem);
  font-size: clamp(0.6rem, 0.75vw, 1.3rem);
  text-transform: uppercase;
  color: #0aa1ff;
}

.scrollSectionOuter {
  overflow: hidden;
}

.scrollSectionInner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scrollSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollSection .h3 {
  color: #e6e6e6;
  letter-spacing: clamp(1rem, 2vw, 4rem);
  font-size: clamp(1rem, 2vw, 4rem);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(5rem, 9.9vw, 15rem);
  color: #e6e6e6;
}
